/* search.css */

body {
    background-image: url('https://images.unsplash.com/photo-1472289065668-ce650ac443d2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80');
}
#cd {
    width: 12rem;
}
.col {
    box-shadow: 63rem;
    sha
}
#cc {
    box-shadow: 34rem;
}
.dog {
    box-shadow: 34px;
    border:23px solid blue;
    border-radius: 6px;
}
.spinner {
    background-color: blue;
}