<!DOCTYPE html>
<html>
<head>
<style>
ul.ss {
    list-style-type: none;
    margin: 0%;
    padding: 0%;
    overflow: hidden;
    background-color: crimson;
}
ul.topnav li {float: left;}
ul.topnav li a.active {background-color: #4CAF50;}
ul.topnav li.right {float: right;}
@media screen and (max-width: 600px) {
  ul.topnav li.right, 
  ul.topnav li {float: none;}
}
</style>
</head>
<body>
    <ul class="ss">
            <li class="active">Home</li>
            <li>Contact</li>
    </ul>
    <div class="spinner"></div>
</body>
</html>
